
	body { background: #FFFF99; color: #000000 ; font: 10pt Arial; margin: 3%;
  scrollbar-arrow-color:red;
  scrollbar-track-color:orange;
  scrollbar-face-color:yellow;
  scrollbar-shadow-color:white;
  scrollbar-darkshadow-color:black;
  scrollbar-highlight-color:white;
  scrollbar-3dlight-color:black;}
  
	.center { text-align: center }
	.links { text-align: left }
	.rechts { text-align: right }
	.lettertype1 { font-family: Arial, "Comic Sans Ms", sans-serif }
	.lettertype2 { font-family: "Comic Sans Ms", Arial, sans-serif }
	.schuin { font-style: italic }
	.kleinhoofd { font-variant: small-caps }
	.vet { font-weight: bold }
	.lichter { font-weight: lighter }
	.grootte1 { font-size: 100% }
	.grootte2 { font-size: 150% }
	.grootte3 { font : 14pt/18pt Arial}
	.lblauw { color: #99FFFF; margin: 3% }
	.geel { color: yellow }
	.groen { color: green }
	.oranje { color: orange }
	.roze { color: pink }
	.rood { color: red }
	.bruin { color: brown }
	.letterspatie { letter-spacing: 0.5em }
	.onderlijn { text-decoration: underline }
	.hoofdletter { text-transform: capitalize}
	.inspringen { text-indent: 5em }
	.verticalespatie { line-height: 200%}
	.boord1 { border: thick double red}
	.boord2 { border: thin dotted yellow}
	.boord3 { border: groove 10em}
	.boord4 { border: thick red }
	.knopin { border: inset blue }
	.knopuit { border: outset blue }
	
	td.groen { background: green; color: black; text-align: center }
	td.oranje { background: orange; color: black; text-align: center }
	
	a:link{color:green;text-decoration:none}
	a:active{color:orange;text-decoration:none}
	a:visited{color:purple;text-decoration:none}
	a.oplichten { width:250; filter:glow(color=ffff00,strength=4) }
	a:hover{color:#0000CC;text-decoration:underline}
	
	
	/* voor de zoekmachine */
	h3 {  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 11pt; font-weight: normal; color:blue}
	h4 {  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 11pt; font-weight: bold; color:green}
	h5 {  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 14pt; font-weight: bold; color:green}
	p {  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 11pt}
	li {  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 11pt; margin-left: 5%;}
	.xtitle { font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 13pt; font-weight: bold}
	.xresult { font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 11pt; font-weight: normal}
	.xlocation { font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 0pt; color:#800080; font-weight: normal}
	.xsmall { font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 11pt; color:blue; font-weight: normal}

	td.hoofdoranje { background:#FFCC00; color:#663300; font-family:Arial; font-size:large; text-align:center; }
	td.bruin { background:#996633; color:#FFFFCC; font-family:Arial; font-size:xx-small; font-weight:bold; text-align:center; }
	td.menubalk { background:#CCFF00; color:#000000; font-family:Arial; font-size:small; font-weight:bold; text-align:center; }
	td.mappen { background:#FFCC66; color:#000000; font-family:Arial; font-size:x-small; font-weight:bold; text-align:left;}
	.hinfo { background:#CCFF00; color:#330099; font-family:Arial; font-size:x-small; font-weight:bold; text-align:left;}                                 
	td.info { background:#CCFF00; color:#000000; font-family:Arial; font-size:xx-small; font-weight:normal; text-align:left; }
	td.datum { background:#FFCC00; color:#663300; font-family:Arial; font-size:xx-small; font-weight:bold; text-align:center;}
	td.voetnoot { background:#FFFF66; color:#000000; font-family:Arial; font-size:xx-small; font-weight:bold; text-align:justify;} 
	td.titel { background:#FF9900; color:#660000; font-family:Arial; font-size:medium; text-align:center;}
	td.rubriek { background:#FFCC66; color:#000000; font-family:Arial; font-size:x-small; text-align:left;}
	td.lijst1 { background:#FFCC66; color:#000000; font-family:Arial; font-size:x-small; text-align:left; }
	td.lijst2 { background:#FFFF66; color:#000000; font-family:Arial; font-size:x-small; text-align:left; }
INPUT {border: 1px solid brown; font-family: Arial; font-size: 10pt; color:#663300; font-weight:bold; background-color: #FFFF33; cursor:hand}
TEXTAREA {border: 1px solid brown; font-family: Arial; font-size: 10pt; color: #000000;
	background-color: #FFCC66;}
SELECT {border: 1px solid brown; font-family: Arial; font-size: 10pt; color: #000000;
	background-color: #FFFF00;}