textarea.live_preview {
    width: 50% !important;
    float: left !important;
    margin: 0;
    border: 1px solid rgb(225, 225, 232);
    box-shadow: none;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    padding: 8px;
    font-size: 12px;
}

.live_preview.css {
    border-bottom-width: 0;
}

.live_preview.html {
    background-image: url(../img/htmfl.gif);
}

pre, code, iframe.live_preview {
    padding: 8px;
}

iframe.live_preview {
    width: 45%;
    border: 1px solid rgb(225, 225, 232);
    border-left-width: 0;
}

p.live_preview {
    clear: both;
    margin-bottom: 15px;
}

code.pre {
    white-space: pre;
    display: block;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
  }

textarea {
    color: blue !important;
}

.nav ol {
    list-style-type: decimal;
    list-style-position:inside;
}

#theory > li > a{
    color: purple !important;
}