textarea.live_preview {
    width: 50% !important;
    float: left !important;
}

pre, code, iframe.live_preview {
    padding: 6px;
}

iframe.live_preview {
    width: 45%;
    float: left;
    border: 1px solid rgb(225, 225, 232);
    border-left-width: 0;
}

p.live_preview {
    clear: both;
    margin-bottom: 15px;
}

code.pre {
    white-space: pre;
    display: block;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
  }

textarea {
    color: blue !important;
}

.nav ol {
    list-style-type: decimal;
    list-style-position:inside;
}

#theory > li > a{
    color: purple !important;
}