.assignment {
    clear: both;
}
.assignment img.screenshot {
    box-shadow: 0 0 30px #888;
    border: 1px solid #aaa;
    border-radius: 7px;
    float: right;
    margin: 40px;
    margin-top: 0;
    margin-bottom: 40px;
    max-width: 40%;
}
@media screen and (max-width: 1000px){
    .assignment img.screenshot {
        float: none;
        max-width: 80%;
    }
}

.tip {
    float: right;
    width: 30%;
    font-size:  smaller;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
}

.filename {
    font-family: Courier, monospace;
    background-color: #EEE;
}

.assignment {
    padding-left: 30px;
    padding-bottom: 20px;
    margin-bottom: 7px;
}

.easy {
    border-left: 3px solid rgba(0,200,0,0.7);
}

.medium {
    border-left: 4px solid rgba(240,240,0,0.7);
}

.hard {
    border-left: 4px solid rgba(240,0,0,0.7);
}

textarea.live_preview {
    width: 50% !important;
    float: left !important;
    margin: 0;
    border: 1px solid rgb(225, 225, 232);
    box-shadow: none;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    padding: 8px;
    font-size: 12px;

    color: #d14;
    background-color: #f7f7f9;

    background-repeat: no-repeat;
    background-position: right top;
}

code.livepreview {
    display: block;
    white-space: pre-wrap;
    min-height: 2.5em;
}
.css {
    border-bottom-width: 0;
    background-image: url(../img/css.png);
    color: #bc0000;
    background-repeat: no-repeat;
    background-position: right top;
}

.live_preview.html {
    background-image: url(../img/html.png);
    color: #d14;
}

pre, code, iframe.live_preview {
    padding: 8px;
}

iframe.live_preview {
    width: 45%;
    border: 1px solid rgb(225, 225, 232);
    border-left-width: 0;
}

p.live_preview {
    clear: both;
    margin-bottom: 15px;
}

.pre {
    display: block;
    white-space: pre-wrap;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
  }

.nav ol {
    list-style-type: decimal;
    list-style-position:inside;
}

#theory > li > a{
    color: purple !important;
}

img.screenshot {
    display: block;
    margin: 2em auto 1em auto;
    box-shadow: 0 0 30px #888;
    max-width: 80%;
}

figcaption {
    text-align: center;
}