<!DOCTYPE html>
<html>
<body>
  <img src="layout/flexbox.jpg" class="pull-right" style="margin: 15px;">

  <h2>Flexbox Layout</h2>
  
  LET OP! DEZE PAGINA IS NOG IN BEWERKING (Luc Claessens)<br><br>

  <p>
    Het positioneren van containers in een pagina kan erg lastig zijn. 
    Een eenvoudige nieuwe manier om dit netjes te doen is de <b>flexbox layout</b>.
    Voor een flexbox layout hoef je eigenlijk maar een paar dingen te doen:
  </p>
    
  <ol>
    <li>Je moet een omsluitende container definieren, waarin je een aantal subcontainers opneemt</li>
    <li>Je moet aangeven hoeveel ruimte elke subcontainer nodig heeft</li>
  </ol>
  
  <p>
    Laten we beginnen met een eenvoudig voorbeeld. We gaan drie containers horizontaal op een rij zetten. 
    Iedere container krijgt hierbij evenveel ruimte in de breedte.
  </p>

  <code class="livepreview pre">
<span class="css">
.outer-container {
    display: flex;
    border: 1px solid black;
}
</span>
&lt;div class="outer-container"&gt;
   &lt;div class="inner-container"&gt;div 1&lt;/div&gt;
   &lt;div class="inner-container"&gt;div 2&lt;/div&gt;
   &lt;div class="inner-container"&gt;div 3&lt;/div&gt;
&lt;/div&gt;
  </code>

  <p>Zie je hoe eenvoudig het is? We hoeven eigenlijk alleen voor de omvattende container flexboxing AAN te zetten.</p>
  <p>Nu zijn alle inner-containers echter precies even breed. Dat kun je aanpassen door iedere container een relatieve flexwaarde te geven.
    Stel dat we de eerste en de laatste container ieder 25% van de breedte willen geven en de middelste container 50%.
    Je moet er dan voor zorgen dat alle inner-containers.................
  </p>
  
    <code class="livepreview pre">
<span class="css">
.outer-container {
    display: flex;
    border: 1px solid black;
}

.inner-container-small {
    border: 1px solid blue;
    flex: 25;
}
  
.inner-container-large {
    border: 1px solid red;
    flex: 50;
}
</span>
&lt;div class="outer-container"&gt;
   &lt;div class="inner-container-small"&gt;div 1&lt;/div&gt;
   &lt;div class="inner-container-larger"&gt;div 2&lt;/div&gt;
   &lt;div class="inner-container-small"&gt;div 3&lt;/div&gt;
&lt;/div&gt;
  </code>
  
  
</body>
</html>
