<!DOCTYPE html>
<html>
<body>
  <img src="layout/flexbox.jpg" class="pull-right" style="margin: 15px;">

  <h2>Flexbox Layout</h2>
  
  LET OP! DEZE PAGINA IS NOG IN BEWERKING (Luc Claessens)<br><br>

  <p>
    Het positioneren van containers in een pagina kan erg lastig zijn. 
    Een eenvoudige nieuwe manier om dit netjes te doen is de <b>flexbox layout</b>.
    Voor een flexbox layout hoef je eigenlijk maar een paar dingen te doen:
  </p>
    
  <ol>
    <li>Je moet een omsluitende container definieren, waarin je een aantal subcontainers opneemt</li>
    <li>Je moet aangeven hoeveel ruimte elke subcontainer nodig heeft</li>
  </ol>
  
  <p>
    Laten we beginnen met een eenvoudig voorbeeld. We gaan drie containers horizontaal op een rij zetten. 
    Iedere container krijgt hierbij evenveel ruimte in de breedte.
  </p>

  <code class="livepreview pre">
<span class="css">
.outer-container {
    display: flex;
    border: 1px solid black;
}
.inner-container {
    border: 1px solid red;
}
</span>
&lt;div class="outer-container"&gt;
   &lt;div class="inner-container"&gt;playstations&lt;/div&gt;
   &lt;div class="inner-container"&gt;auto onderdelen&lt;/div&gt;
   &lt;div class="inner-container"&gt;bananen&lt;/div&gt;
&lt;/div&gt;
  </code>

  <p>Zie je hoe eenvoudig het is? We hoeven eigenlijk alleen voor de omvattende container (outer-container) flexboxing AAN te zetten.</p>
  <p>Nu zijn alle inner-containers echter precies even breed en ze gebruiken bovendien niet de volledige ruimte van de outer-container. Vaak wil je dat wel</p>
  <p>Je kunt dat aanpassen door iedere container een relatieve flexwaarde te geven. Het percentage van de totale breedte die een container
    zal innemen is gelijk aan de flexwaarde die jij de container geeft gedeeld door het totaal aan flexwaarden binnen de outer-container.
    Stel dat we de eerste en de laatste container ieder 25% van de breedte willen geven en de middelste container 50%:
  </p>
  
    <code class="livepreview pre">
<span class="css">
.outer-container {
    display: flex;
    border: 1px solid black;
}

.inner-container-small {
    border: 1px solid blue;
    flex: 25;
}
  
.inner-container-large {
    border: 1px solid red;
    flex: 50;
}
</span>
&lt;div class="outer-container"&gt;
   &lt;div class="inner-container-small"&gt;playstations&lt;/div&gt;
   &lt;div class="inner-container-large"&gt;auto onderdelen&lt;/div&gt;
   &lt;div class="inner-container-small"&gt;bananen&lt;/div&gt;
&lt;/div&gt;
  </code>
  
   <p>Merk op dat in de css geen % wordt gebruikt. Welke andere waarden voor 25 en 50 zou je kunnen gebruiken?</p>
  
   <p>Er kan natuurlijk nog veel meer met flexboxen. Kijk eens op de volgende sites hiervoor:</p>
  <ul>
    <li><a href="http://www.w3schools.com/css/css3_flexbox.asp">W3Schools</a></li>
    <li><a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">CSS-Tricks</a></li>
  </ul>
  
</body>
</html>
