<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MARKTHAL.nl</title>
    <link rel="stylesheet" href="uitwerking-markthal.css" media="screen"/>
  </head>
<body>

<header>
  <h1>MARKTHAL.nl</h1>
</header>

<div id="subheader">
  <form>
    <input type="text" name="q">
    <button type="submit">Zoeken</button>
  </form>
</div>

<section id="content">
  <div id="listing">
    <h2>Creepy Paardenmasker</h2>
    <div>21x gezien | sinds 1 augustus '14</div>

    <hr>

    <img src="paardenmasker.jpg" alt="Creepy Paardenmasker" id="photo">

    <h4>€ 24,95</h4>
    <p>Ophalen of Verzenden (€ 2,56)</p>

    <p style="clear: both;">Creepy PaardenMasker</p>

    <p>Beste kwaliteit, echte haren en reliëf! Voor de laagste prijs!</p>
  </div>

  <div id="seller">
    <h3>Mr. Sketsji</h3>

    <hr>

    <p>2 dagen actief op Marktplaats</p>

    <p><a href="mailto:p,wagener@avans.nl">E-mail deze adverteerder</a></p>
  </div>
</section>

</body>
</html>
