body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

header {
  font-family: serif;
  background-color: #f2b479;
  color: #21479c;
  border-bottom: 1px solid #a6784b;
}

h1 {
  margin: 0;
  padding: 10px;
}

#subheader {
  background-color: #e1e8f5;
  border-bottom: 1px solid #b1c4df;
  padding: 10px;
}

#content {
  display: block;
  margin: 40px auto 0 auto;
  max-width: 1000px;

}

#listing {
  float: left;
  border: 1px solid #b1c4df;
  width: 60%;
  padding: 30px;
  margin-right: 2%;
  box-sizing: border-box;
}

hr {
  border-width: 0;
  border-bottom: 1px solid #b1c4df;
  margin: 20px;
}

#photo {
  float: left;
  border: 1px solid #b1c4df;
  margin-right: 20px;
  margin-bottom: 20px;
}

#seller {
  float: left;
  width: 38%;
  padding: 10px;
  border: 1px solid #b1c4df;
  background-color: #fffbe7;
  box-sizing: border-box;
}