body {
	font-family: Trebuchet MS, Arial, Helvetica, Sans-serif;
}
h1.cursus {
	border: 4px solid darkgray;
	padding: 8px;
	background-color: lightgrey;
}
h2.cursus {
	border: 2px solid darkgray;
	padding: 4px;
	background-color: lightgrey;
}
h3.cursus {
	border: 1px solid darkgray;
	padding: 4px;
	background-color: lightgrey;
}
th {
	vertical-align: top;
	text-align: left;
}
div.code {
	border: 1px solid;
	padding: 0px 6px;
}
em {
	color: red;
	font-style: normal;
}
em.comment {
	color: green;
	font-style: normal;
}
table {
	width: 100%;
	border: 1px solid darkgray;
}
td, th {
	border: 1px solid darkgray;
	padding: 4px;
	vertical-align: top;
}
table.noborder {
	border-width: 0px;
}

table.noborder td {
	border-width: 0px;
}