body
{
  font-family: sans-serif;
  font-size: 12px;
  color: #660000;
  margin: 10px;
  background-color: #CCFFCC;
}

h1
{
  text-align: center;
  font-size: 30px;
}

h2 { font-size: 24px; }

h3 { font-size: 18px; }

.menu
{
  float: right;
  text-align: center;
  margin-left: 10px;
  white-space: nowrap;
}

.menu .category
{
  border: 1px solid #33CCFF;
  margin-bottom: 10px;
}

.menu .title
{
  padding: 3px 10px 3px 10px;
  font-size: 14px;
  background-color: #FFCC99;
}

.menu .item a
{
  display: block;
  padding: 2px 10px 2px 10px;
  text-decoration: none;
  margin: 0;
}

.menu .item a:hover
{
  background-color: #99FF33;
}
