body {
  font-family: Times new roman;
  background: silver;
  scrollbar-face-color: #0000FF;
  scrollbar-arrow-color: #FF0000;
  scrollbar-base-color: #00FF00;
  scrollbar-track-color: #000000;
  /*background: #006600 url(avans.gif) no-repeat bottom center;*/
}

h1 {
  font-size: 16pt;
  font-weight: bold;
  color: blue;
}

h2 {
  font-size: 15pt;
  font-weight: bold;
  color: red;
}

h3 {
  font-size: 14pt;
  font-weight: bold;
  color: yellow;
}

